[Unit]
Description=Visualization of biological estimates
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/exouser/code_git/echodataflow/echodataflow/services
Environment=PATH=/home/exouser/miniforge3/condabin:/usr/local/bin:/usr/bin:/bin
ExecStart=/home/exouser/miniforge3/bin/mamba run -n echodataflow_20250609 python viz_bio.py
Restart=always
RestartSec=30
StartLimitInterval=300
StartLimitBurst=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=shimada_202506_bio

[Install]
WantedBy=multi-user.target
