[Unit]
Description=Deploy Prefect worker in work-pool local
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/exouser
Environment=PATH=/home/exouser/miniforge3/condabin:/usr/local/bin:/usr/bin:/bin
ExecStart=/bin/bash /home/exouser/code_git/echodataflow/echodataflow/services/deploy_prefect_worker.sh
Restart=always
RestartSec=30
StartLimitInterval=300
StartLimitBurst=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=shimada_202506_prefect_worker

[Install]
WantedBy=multi-user.target
