[Unit]
Description=Prefect serve
After=network.target

[Service]
User=exouser
WorkingDirectory=/home/exouser/echodataflow/code/echodataflow
ExecStart=/home/exouser/echodataflow/env/echodataflow/bin/python /home/exouser/echodataflow/code/echodataflow/echodataflow/extensions/panel_app_shimada.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=edfshader

[Install]
WantedBy=multi-user.target
