[Unit]
Description=Prefect-Worker
After=network.target

[Service]
User=exouser
WorkingDirectory=/home/exouser/echodataflow/code/echodataflow
ExecStart=/home/exouser/echodataflow/env/echodataflow/bin/prefect worker start --pool "EDF-Shader-Pool"
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=echodataflow

[Install]
WantedBy=multi-user.target
