[Unit]
Description=Prefect serve
After=network.target

[Service]
User=exouser
WorkingDirectory=/home/exouser/Desktop/Echodataflow
ExecStart=/home/exouser/Desktop/echodataflowv2/bin/python /home/exouser/Desktop/echodataflowv2/lib/python3.10/site-packages/echodataflow/extensions/file_monitor.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=echodataflow

[Install]
WantedBy=multi-user.target
